<h1>Movie Rental Page</h1>

<form action="Result" method="post">

    <p>Pick a Movie to rent</p>
    <input list="Title" name="Title" required>
    <datalist id="Title">
        <option value="Mr Bean, 120min" />
        <option value="Cool Runnings, 90mins" />
        <option value="Page Master, 86mins" />
        <option value="Foot Loose, 102mins" />
        <option value="The Sandlot, Forever" />
    </datalist>

    <p>Price</p>
    <input list="Price" name="Price" required>
    <datalist id="Price">
        <option value="$6.99" />

    </datalist>
    <input type="submit" />
</form>